    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Software Freedom Day</h2>
              <br/><h3>
                <p>O Software Freedom Day (SFD) é um evento global realizado anualmente para promover o uso e a disseminação de software
                livre e de código aberto.<p> Ele reúne comunidades,
                organizações e entusiastas da tecnologia para compartilhar
                conhecimento, realizar palestras, oficinas e atividades que
                destacam a importância da liberdade de uso, estudo,
                modificação e distribuição de software.<p> O objetivo principal é conscientizar a sociedade sobre os benefícios sociais, éticos e técnicos do software livre, incentivando sua adoção em diferentes áreas.
              </h3>

              <br/>
              </div>
        </div>
    </section>
